<div class="jumbotron">
    <h1>PRACE W TOKU</h1>
    <p class="lead">Tu będzie dokumentacja i podręcznik użytkownika.</p>
    <p><a href="/Home/Index" class="btn btn-warning btn-lg">Powrót &raquo;</a></p>

</div>
