<div class="jumbotron">
    <h1>PRACE W TOKU</h1>
    <p class="lead">Tu będzie dokumentacja i podręcznik użytkownika.</p>
    <p><a class="btn btn-warning" href="@Url.Action("DownloadD", "Help")">Pobierz dokumentację &raquo;</a></p>
    <p><a class="btn btn-warning" href="@Url.Action("DownloadP", "Help")">Pobierz podręcznik użytkownika &raquo;</a></p>
    <p><a href="/Home/Index" class="btn btn-warning btn-lg">Powrót &raquo;</a></p>
    
</div>
