@{
    var fileTex = ViewData["text"];
    var textFront = ViewData["text"];
    
}
@model List<TranslatorBIB_RIS.Models.BibContein >
    <script src="~/Scripts/angular.js"></script>
<style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }
</style>
<style>
    .center-block {
        float: none;
    }
</style>

<div class="jumbotron">
    <h1>Translator Plików BibTeX <=> RIS</h1>
    <p class="lead">Wybierz plik w formacie BibTeX lub RIS </br>
    Filtruj zawartość lub nie </br>
    Zapisz dane do pliku o porządanym formacie</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Wybierz plik źródłowy:</h2>
        
       
        @using (Html.BeginForm("Index",
                    "Home",
                    FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload File:</label>
            <input type="file" name="file" id="file"  accept="text/x-bibtex"/><br><br>
            <input type="submit" value="Upload File" />
           <br><br>
                    
         }


        
    </div>
    <div class="col-md-4">
        <h2>Wybierz opcje filtrowania</h2>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Tree")">Filtruj</a></p>
       
    </div>
    <div class="col-md-4">
        <h2>Pobierz swój plik wynikowy:</h2>
        <div class="col-md-4">
            <p><a class="btn btn-warning" href="@Url.Action("DownloadBib", "Home")">Pobierz plik w formacie BibTeX &raquo;</a></p>
            <p><a class="btn btn-warning" href="@Url.Action("DownloadRIS", "Home")">Pobierz plik w formacie RIS &raquo;</a></p>

        </div>

    </div>


</div>
<div>
    <div ng-app="aplikacja">

        <div class="container" ng-controller="tableController">
            <div class="row">
                <div class="col-sm-12 center-block">
                    <h1 class="text-center">Tabela zawiera {{records.length}} rekordy</h1>
                    <br>
                    <span class="input-group-addon">Szukaj: </span>
                    <input type="text" class="form-control" placeholder="Jakiej słowa szukasz?" ng-model="search">
                </div>

                <br>

                <div class="table-responsive ">
                    Sortuj według pola:
                    <select data-ng-model="sortBy">
                        <option selected value="Title">Tytuł</option>
                        <option value="Start_page">Strona startowa</option>
                        <option value="End_page">Strona końcowa</option>
                        <option value="Authors">Autor</option>
                        <option value="Release_date">Data wydania</option>
                        <option value="Editors">Edytor</option>
                        <option value="Volume">Wolumin/część</option>
                        <option value="Adress">Miejsce wydania</option>
                        <option value="Publisher">Opublikowane przez</option>
                    </select>

                    <table class="table table-hover table-condensed table-inverse table-striped warning">
                        <thead class="thead-inverse">

                            <tr class="info">
                                <th ng-repeat="naglowek in ['typ','autor', 'tytuł', 'strona początkowa', 'strona końcowa','data wydania','edytorzy', 'wolumin/część', 'miejsce wydania', 'Opublikowane przez']">
                                    {{naglowek}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="record in records | filter : search | orderBy:sortBy">
                                <td>{{record.Type}}</td>
                                <td>{{record.Authors}}</td>
                                <td>{{record.Title}}</td>
                                <td>{{record.Start_page}}</td>
                                <td>{{record.End_page}}</td>
                                <td>{{record.Release_date}}</td>
                                <td>{{record.Editors}}</td>
                                <td>{{record.Volume}}</td>
                                <td>{{record.Adress}}</td>
                                <td>{{record.Publisher}}</td>

                                <td>
                                    <button class="btn btn-danger" ng-click="deleteOneBook(book.id)">Usuń</button>
                                </td>


                            </tr>

                        </tbody>
                    </table>

                </div>
                
            </div>
        </div>




        <script>
            var aplikacja = angular.module('aplikacja', []);


            aplikacja.controller('tableController', ['$scope', '$http', '$filter', function ($scope, $http, $filter) {

                $http.get("/api/records/")
                    .then(function (response) {
                        $scope.records = response.data;
                    })

                $scope.deleteOneBook = function (id) {
                    var url = "/api//records/" + id;
                    $http.delete(url)
                        .then(function (response) {
                            $scope.del = response.data;
                        })

                    window.location = location.href;
                }

                $scope.addOneRecord = function () {
                    var url = "/api/records/";
                    var param = JSON.stringify({
                        id: 0,
                        Authors: $scope.Authors,
                        Title: $scope.Title,
                        Start_page: $scope.Start_page,
                        End_page: $scope.End_page

                    })
                    $http.post(url, param)
                        .then(function (response) {
                            $scope.dodaj = response.data;
                        })

                    window.location = location.href;
                }

                $scope.updateOneBook = function (id) {
                    var url = "/api/records/" + id;
                    var param = JSON.stringify({
                        id: id,
                        title: $scope.title,
                        pages: $scope.pages,
                        Authors: $scope.Authors
                    })
                    $http.put(url, param)
                        .then(function (response) {
                            $scope.aktu = response.data;
                        })

                    window.location = location.href;


                }


            }]);






        </script>
    </div>
    </div>