@{
    var fileTex = ViewData["text"];
    var textFront = ViewData["text"];
    
}
@model List<TranslatorBIB_RIS.Models.BibContein >
    
<style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }
</style>
<style>
    .center-block {
        float: none;
    }
</style>

<div class="jumbotron">
    <h1>Translator Plików BibTeX <=> RIS</h1>
    <p class="lead">Wybierz plik w formacie BibTeX lub RIS </br>
    Filtruj zawartość lub nie </br>
    Zapisz dane do pliku o porządanym formacie</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Wybierz plik źródłowy:</h2>
        
       
        @using (Html.BeginForm("Index",
                    "Home",
                    FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload File:</label>
            <input type="file" name="file" id="file"  accept="text/x-bibtex"/><br><br>
            <input type="submit" value="Upload File" />
           <br><br>
                    
         }


        
    </div>
    <div class="col-md-4">
        <h2>Wybierz opcje filtrowania</h2>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Tree")">Filtruj</a></p>
       
    </div>
    <div class="col-md-4">
        <h2>Pobierz swój plik wynikowy:</h2>
        <div class="col-md-4">
            <p><a class="btn btn-warning" href="@Url.Action("DownloadBib", "Home")">Pobierz plik w formacie BibTeX &raquo;</a></p>
            <p><a class="btn btn-warning" href="@Url.Action("DownloadRIS", "Home")">Pobierz plik w formacie RIS &raquo;</a></p>

        </div>

    </div>


</div>

    