@{
    var fileTex = ViewData["text"];
    var textFront = ViewData["text"];
}
<div class="jumbotron">
    <h1>Szybka konwersja</h1>
    <p class="lead">Wybierz plik w formacie BibTeX, a otrzymasz plik w formacie RIS i na odwrót</p>
    <p><a href="tu link bedzie" class="btn btn-success btn-lg">Konwertuj &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Przykładowe pobieranie</h2>

        @using (Html.BeginForm("Index",
                            "Home",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload File:</label>
            <input type="file" name="file" id="file"  accept="text/x-bibtex"/><br><br>
            <input type="submit" value="Upload File" />
            @fileTex
            <br><br>
          
            

}

 
        
        
        <h2>Zawartość</h2>
        <p>Tu tabelkę trzeba z danymi z pliku zrobić</p>

    </div>
    <div class="col-md-4">
        <h2>Wybierz opcje filtrowania</h2>
        <p>checkbox'y w takim stylu</p>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-warning">
                <input type="checkbox"> Opcja 1
            </label>
            <label class="btn btn-danger">
                <input type="checkbox"> Opcja 2
            </label>
            <label class="btn btn-primary">
                <input type="checkbox"> Opcja 3
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Zapisz jako</h2>
        <p>Zapisanie do pliku</p>
        <p><a class="btn btn-warning" href="fg">Zapisz jako &raquo;</a></p>
    </div>
</div>
